<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Create Item</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		</head>
	<body>
		<div class="container-fluid">
			<div class="row" id="header">
				<div class="col-sm-6" id="page_head">
					<h2>Create a New Wish List Item</h2>
				</div>
				<div class="col-sm-3 col-sm-offset-3" id="actions">
					<br>
					<div class="btn-group">
  						<a href="{% url 'dashboard:index' %}" class="btn btn-link">Dashboard</a>
  						<a href="{% url 'login:index' %}" class="btn btn-link">Logout</a>
					</div>
				</div>
			</div>
			<div class="row" id="content">
				<div class="col-sm-6" id="new_item_form">
					<form action="{% url 'wish_items:add_item' %}" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="item_name">Item/Product</label>
							<input type="text" class="form-control" name="item_name">
						</div>
						<button type="submit" class="btn btn-primary">Add</button>
					</form>
					<br>
					<ul class="list-group">
						{% if messages %}
							{% for error_message in messages %}
							<li class="list-group-item list-group-item-danger">{{error_message}}</li>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>